* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  height: 100svh;
  font-family: Arial;
}

#root {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap column;
}

section {
  width: 90%;
  min-height: 25%;
  max-height: 27%;
  background-color: white;
  border-radius: 11px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  display: flex;
  align-self: stretch;
  flex: 1;
  flex-flow: nowrap column;
  align-items: center;

}

.question {
  width: 100%;
  height: 200px;
  padding: 15px 20px;
  margin: 15px;
  border-radius: 6px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.333);
  background-color: white;
}

footer {
  width: 100%;
  min-height: 25%;
  max-height: 27%;
  padding: 5px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: flex-end;
}

.search_img {
  width: 30px;
}

button {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(197, 197, 197);
}