{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<div id="main-content__area">
<div class="main-initial__text-area">
    <img src="{% static 'imagens/logo-smogames.png' %}" alt="logo-smogames" style="width: 100%; height: auto; object-fit: cover;">
    <h3>O lugar perfeito para encontrar seus produtos, jogos e periféricos favoritos.</h3>

</div>
<div class="main-initial__image-area">
    <img src="https://uploads.onecompiler.io/42r4msmut/43sndjnym/undertale-napstablook-in-headphones-animated-custom-cursor-removebg-preview.png" alt="monster__image" id="main__image" class="main__ops">
    <span id="main-initial__min-area">
    <h2>SMOGAMES</h2>
    <h3>O lugar perfeito para encontrar seus produtos, jogos e periféricos favoritos.</h3>
    </span>
</div>
</div>
<div id="borda-baixo"></div>

<div class="main-alsos__area">
<div class="main-elements">
    <h2>Explore nossos produtos!</h2>
    <a href="#">Aqui</a>
</div>
    <div class="main-elements">
    <h2>Faça pesquisas!</h2>
    <a href="{% url 'pesquisas' %}">Aqui</a>
</div>
    <div class="main-elements">
    <h2>Conheça nossos parceiros!</h2>
    <a href="#">Aqui</a>
</div>
    <div class="main-elements">
    <h2>Deseja suporte?</h2>
    <a href="#">Aqui</a>
</div>
</div>

{% endblock %}