{% extends 'base.html' %}
{% load static %}

{% block title %}Pesquisas{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'searchs.css' %}" />
{% endblock %}

{% block conteudo %}
<div id="root">
  <h1>Pesquisas</h1>
  <section>
    <div id="title__area">
      <h2>Aqui você poderá responder a pesquisas que contribuem e muito com a qualidade dos nossos produtos!☺️</h2>
    </div>
  </section>
  
  <main>
    {% for pesquisa in pesquisas %}
      <div class="question">
        {% if pesquisa.feito %}
        <img src="https://cdn-icons-png.flaticon.com/512/2422/2422560.png" alt="" class="search_img">
        <h1 style="margin-bottom: 10px;">{{ pesquisa.titulo }}</h1>
        <button><a href="/pesquisas/{{ pesquisa.id }}">Fazer</a></button>
        {% else %}
        <img src="https://cdn-icons-png.flaticon.com/512/4436/4436481.png" alt="" class="search_img">
        <h1 style="margin-bottom: 10px;">{{ pesquisa.titulo }}</h1>
        <h2 style="color: green;">Está feita!</h2>
        {% endif %}
      </div>
    {% endfor %}
  </main>
</div>


{% endblock %}