{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="{% static 'search.css' %}" />
  </head>
  <body>
      <div id="root">
        <section>
          <div id="title__area">
            <h1>Lorem Ipsum</h1>
            <h2>Open Desur</h2>
          </div>
        </section>
       
        <main>
          <div class="question">
            <div class="question-info__area">
                <span><h1>Form name</h1></span>
                <span><h2>Description</h2></span>
            </div>
            <div class="acess__area">
                <span>Conteudo adicional</span>
                <span>Botão pra acessar?</span>
            </div>
          </div>
           <div class="question">
             <div class="question-info__area">
                <span><h1>Form name</h1></span>
                <span><h2>Description</h2></span>
            </div>
            <div class="acess__area">
                <span>Conteudo adicional</span>
                <span>Botão pra acessar?</span>
            </div>
           </div>
            <div class="question">
              <div class="question-info__area">
                <span><h1>Form name</h1></span>
                <span><h2>Description</h2></span>
            </div>
            <div class="acess__area">
                <span>Conteudo adicional</span>
                <span>Botão pra acessar?</span>
            </div>
            </div>
            <div class="question">
              <div class="question-info__area">
                <span><h1>Form name</h1></span>
                <span><h2>Description</h2></span>
            </div>
            <div class="acess__area">
                <span>Conteudo adiional</span>
                <span>Botão pra acessar?</span>
            </div>
            </div>
        </main>
        <footer>
          <div><a href="#">Voltar</a></div> <div><a href="#">@Github</a></div>
        </footer>
      </div>
      <script src="script.js"></script>
  </body>
</html>